Repository Heyoub/caliber: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, biome-check, biome-format

rust-fmt:
  run: cargo fmt --all -- --check

rust-clippy:
  run: cargo clippy --workspace --all-targets -- -D warnings

biome-check:
  run: bunx biome check --changed

biome-format:
  run: bunx biome format --changed --write

fix: resolve shipping blockers for production deployment
  .github/workflows/release.yml
  docker/Dockerfile.api
  docker/Dockerfile.pg
  fly.api.toml
Due: none

fix: format long line in generate_jwt_token
  caliber-api/src/auth.rs
Due: rust-fmt, rust-clippy

fix: remove global RUSTC_WRAPPER to prevent sccache failures in jobs without sccache setup
  .github/workflows/ci.yml
Due: none

fix: resolve CI failures with idiomatic Rust patterns
  caliber-api/Cargo.toml
  caliber-api/src/db.rs
  caliber-api/src/routes/agent.rs
  caliber-dsl/src/parser/ast.rs
  deny.toml
Due: rust-fmt, rust-clippy

fix: add PostgreSQL build dependencies for pgrx init download
  .github/workflows/extension-sql-check.yml
Due: none

fix: add type annotations for Event DAG generic methods
  caliber-api/src/routes/agent.rs
Due: rust-fmt, rust-clippy

fix: correct EventDag API usage and test architecture
  Cargo.lock
  caliber-api/src/auth.rs
  caliber-api/src/routes/agent.rs
  caliber-api/tests/smoke_tests.rs
Due: rust-fmt, rust-clippy

fix: use SystemClock and remove unused variable
  caliber-api/src/auth.rs
  caliber-api/src/routes/agent.rs
Due: rust-fmt, rust-clippy

fix: resolve CI license, clippy, and pgrx warnings
  caliber-pg/src/bin/pgrx_embed.rs
  caliber-test-utils/src/lib.rs
  deny.toml
Due: rust-fmt, rust-clippy

fix: use 'cargo pgrx install' instead of 'cargo pgrx package'
  .github/workflows/ci.yml
Due: none

fix: apply rustfmt to MultiTenantSeed initialization
  caliber-test-utils/src/lib.rs
Due: rust-fmt, rust-clippy

Update deny.toml
  deny.toml
Due: none

fix: add sudo to pgrx install and allow CDLA-Permissive-2.0 license
  .github/workflows/ci.yml
  deny.toml
Due: none

fix: use FixedClock for JWT expiry test instead of SystemClock
  caliber-api/src/auth.rs
Due: rust-fmt, rust-clippy

fix: resolve CI test failures and config errors
  .github/workflows/ci.yml
  caliber-api/tests/auth_property_tests.rs
  deny.toml
Due: rust-fmt, rust-clippy

fix: resolve pgrx install and cargo-deny configuration errors
  .github/workflows/ci.yml
  deny.toml
Due: none

fix: add theme name validation to TUI config
  caliber-tui/src/config.rs
Due: rust-fmt, rust-clippy

refactor: enhance smoke tests by adding additional request types
  caliber-api/tests/smoke_tests.rs
Due: rust-fmt, rust-clippy

debug: add pgrx install file verification to CI
  .github/workflows/ci.yml
Due: none

fix: resolve clippy warnings and smoke test compilation errors
  caliber-api/src/routes/mcp/handlers.rs
  caliber-api/src/routes/mod.rs
  caliber-api/src/routes/pack.rs
  caliber-api/src/routes/summarization_policy.rs
  caliber-api/tests/smoke_tests.rs
Due: rust-fmt, rust-clippy

fix: generate pgrx schema SQL before installation
  .github/workflows/ci.yml
Due: none

fix: add pgrx schema generation step for SQL file creation
  .github/workflows/ci.yml
Due: none

fix: use pgrx-managed PostgreSQL and explicit schema generation
  .github/workflows/ci.yml
Due: none

fix: resolve Lint and pgrx build failures in CI
  .github/workflows/ci.yml
  biome.json
Due: biome-check, biome-format

feat: add FenceKind enum registry
  caliber-dsl/src/pack/markdown.rs
Due: rust-fmt, rust-clippy

feat: add config parser with serde_yaml
  caliber-dsl/Cargo.toml
  caliber-dsl/src/config/markdown_printer.rs
  caliber-dsl/src/config/mod.rs
  caliber-dsl/src/config/parser.rs
  caliber-dsl/src/lib.rs
Due: rust-fmt, rust-clippy

feat: wire Adapter config end-to-end
  caliber-dsl/src/pack/ir.rs
Due: rust-fmt, rust-clippy

test: add focused validation tests
  caliber-dsl/src/config/parser.rs
Due: rust-fmt, rust-clippy

refactor: delete custom DSL parser (3,762 lines)
  caliber-dsl/Cargo.toml
  caliber-dsl/src/bin/trace_parser.rs
  caliber-dsl/src/lexer/mod.rs
  caliber-dsl/src/lexer/scanner.rs
  caliber-dsl/src/lexer/token.rs
  caliber-dsl/src/parser/parser.rs
  fuzz/fuzz_targets/lexer_fuzz.rs
Due: rust-fmt, rust-clippy

fix: update files to use Markdown parser
  caliber-dsl/src/bin/trace_parser.rs
  caliber-dsl/src/lib.rs
  caliber-dsl/src/parser/mod.rs
Due: rust-fmt, rust-clippy

fix: update benchmarks and fuzzer to use Markdown parser
  caliber-dsl/benches/dsl_hotpath.rs
  fuzz/fuzz_targets/parser_fuzz.rs
Due: rust-fmt, rust-clippy

feat: add remaining config types extraction
  caliber-dsl/src/pack/ir.rs
Due: rust-fmt, rust-clippy

feat: add comprehensive Markdown config test suite
  caliber-api/tests/markdown_dsl_property_tests.rs
  caliber-dsl/tests/markdown_config_tests.rs
  caliber-dsl/tests/markdown_property_tests.rs
Due: rust-fmt, rust-clippy

fix: resolve all 174 compile errors after markdown refactor
  Cargo.lock
  caliber-dsl/src/config/parser.rs
  caliber-dsl/src/lib.rs
  caliber-dsl/src/pack/ir.rs
  caliber-dsl/src/parser/ast.rs
  caliber-dsl/src/pretty_printer.rs
Due: rust-fmt, rust-clippy

feat: complete markdown_printer.rs with all 8 config types
  caliber-dsl/src/config/markdown_printer.rs
Due: rust-fmt, rust-clippy

feat: implement duplicate detection for Markdown configs
  caliber-dsl/src/pack/ir.rs
Due: rust-fmt, rust-clippy

fix: resolve 3 compile errors found by clippy
  caliber-dsl/src/compiler/mod.rs
  caliber-dsl/src/pack/ir.rs
  caliber-dsl/src/parser/ast.rs
Due: rust-fmt, rust-clippy

fix: resolve 3 clippy warnings
  caliber-dsl/src/compiler/mod.rs
  caliber-dsl/src/config/markdown_printer.rs
  caliber-dsl/src/pack/markdown.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  biome-format: any of: *.{ts,tsx,js,jsx,json}
