Repository Heyoub/caliber: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, biome-check, biome-format

rust-fmt:
  run: cargo fmt --all -- --check

rust-clippy:
  run: cargo clippy --workspace --all-targets -- -D warnings

biome-check:
  run: bunx biome check --changed

biome-format:
  run: bunx biome format --changed --write

fix: add UI tokens and enable atoms/molecules exports
  CHANGELOG.md
Due: none

feat: establish foundational architecture for CALIBER Pack Editor
  app/src/routes/auth/callback/+page.svelte
  app/src/routes/login/+page.svelte
Due: none

release: v0.5.0 - Frontend App & Markdown DSL
  CHANGELOG.md
  Cargo.toml
Due: none

fix: update internal crate versions to 0.5.0
  Cargo.toml
Due: none

docs: update changelog for v0.5.0 version alignment
  CHANGELOG.md
Due: none

fix: remove invalid #[test] attr from doctest
  caliber-dsl/src/config/parser.rs
Due: rust-fmt, rust-clippy

docs: add doctest fix to changelog
  CHANGELOG.md
Due: none

fix: remove dead code and clippy lints
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  AGENTS.md
  CHANGELOG.md
  Cargo.lock
  DEVLOG.md
  caliber-api/src/db.rs
  caliber-api/src/workos_auth.rs
Due: rust-fmt, rust-clippy

refactor(ci): optimize pipeline from 22+ to 12 jobs
  .github/actions/setup-pg18/action.yml
  .github/actions/setup-rust/action.yml
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix(ci): add back unique checks from removed jobs
  .github/workflows/ci.yml
Due: none

README_UPDATE
  README.md
Due: none

fix: remove unused imports from db.rs
  caliber-api/src/db.rs
Due: rust-fmt, rust-clippy

fix(ci): pin bun version to 1.3.6 and update changelog
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix(ci): update scorecard-action to v2.4.0
  .github/workflows/scorecard.yml
Due: none

docs: update changelog with CI fixes
  CHANGELOG.md
Due: none

feat: wire frontend to API with dev auth and new pages
  CHANGELOG.md
  app/src/lib/api/client.ts
  app/src/lib/api/types.ts
  app/src/routes/api/dashboard/stats/+server.ts
  app/src/routes/auth/callback/+page.svelte
  app/src/routes/dashboard/+page.svelte
  app/src/routes/dashboard/settings/+page.svelte
  app/src/routes/dashboard/stats/+page.svelte
  app/src/routes/login/+page.svelte
  app/tsconfig.json
  caliber-api/src/routes/dev_auth.rs
  caliber-api/src/routes/mod.rs
Due: rust-fmt, rust-clippy, biome-check, biome-format

refactor: consolidate all dev commands into Makefile
  Makefile
Due: none

fix: use full cargo path for sudo in pg-install
  Makefile
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  biome-format: any of: *.{ts,tsx,js,jsx,json}
