Repository Heyoub/caliber: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, biome-check, biome-format

rust-fmt:
  run: cargo fmt --all -- --check

rust-clippy:
  run: cargo clippy --workspace --all-targets -- -D warnings

biome-check:
  run: bunx biome check --changed

biome-format:
  run: bunx biome format --changed --write

fix: resolve remaining compile errors across all packages
  caliber-dsl/src/bin/trace_parser.rs
  caliber-dsl/src/lib.rs
  caliber-dsl/tests/markdown_config_tests.rs
  caliber-dsl/tests/markdown_property_tests.rs
Due: rust-fmt, rust-clippy

refactor: remove deprecated stub, properly convert API to Markdown system
  caliber-api/src/db.rs
  caliber-api/src/routes/dsl.rs
  caliber-dsl/src/lib.rs
  caliber-dsl/tests/markdown_property_tests.rs
Due: rust-fmt, rust-clippy

fix: update caliber-api test files to use new Markdown system
  caliber-api/tests/dsl_property_tests.rs
  caliber-api/tests/dsl_roundtrip_api_property_tests.rs
  caliber-api/tests/markdown_dsl_property_tests.rs
Due: rust-fmt, rust-clippy

Update caliber-dsl/src/config/markdown_printer.rs
  caliber-dsl/src/config/markdown_printer.rs
Due: rust-fmt, rust-clippy

feat(pack-editor): add foundation for Pack Editor
  pack-editor/README.md
  pack-editor/package.json
  pack-editor/src/components/.gitkeep
  pack-editor/src/composables/index.ts
  pack-editor/src/composables/usePackStore.ts
  pack-editor/src/schemas/index.ts
  pack-editor/src/schemas/manifest.zod.ts
  pack-editor/src/services/api/client.ts
  pack-editor/src/services/api/pack.ts
  pack-editor/src/types/api.ts
  pack-editor/src/types/editor.ts
  pack-editor/src/types/index.ts
  pack-editor/src/types/manifest.ts
  pack-editor/tsconfig.json
  pack-editor/tsconfig.node.json
  pack-editor/vite.config.ts
Due: biome-check, biome-format

refactor: make hardcoded config values configurable (Tier 1-3)
  caliber-api/src/config.rs
  caliber-api/src/constants.rs
  caliber-api/src/jobs/saga_cleanup.rs
  caliber-api/src/lib.rs
  caliber-api/src/providers/mod.rs
  caliber-api/src/routes/billing.rs
  caliber-api/src/state.rs
  caliber-api/src/workos_auth.rs
  caliber-core/src/config.rs
  examples/README.md
  examples/agents-pack/agents/analyst.agent.md
  examples/agents-pack/agents/coordinator.agent.md
  examples/agents-pack/agents/researcher.agent.md
  examples/agents-pack/agents/support.agent.md
  examples/agents-pack/cal.toml
  examples/agents-pack/mcp.json
  examples/agents-pack/tools/contracts/search.json
  examples/agents-pack/tools/prompts/extract_entities.md
  examples/agents-pack/tools/prompts/search.md
  examples/agents-pack/tools/prompts/summarize.md
Due: rust-fmt, rust-clippy, biome-check, biome-format

feat(pack-editor): add UI components and design system from Vue reference
  pack-editor/DESIGN_SYSTEM_EXTRACTION.md
  pack-editor/src/components/ui/GlassMorphicCard.vue
  pack-editor/src/components/ui/GlassyButton.vue
  pack-editor/src/components/ui/GlowPressButton.vue
  pack-editor/src/components/ui/index.ts
  pack-editor/src/styles/variables.css
  pack-editor/tailwind.config.ts
Due: biome-check, biome-format

refactor: manifest wiring, code quality, and debt cleanup
  caliber-api/src/db.rs
  caliber-api/src/lib.rs
  caliber-api/src/providers/mod.rs
  caliber-api/src/routes/dsl.rs
  caliber-api/src/utils/markdown.rs
  caliber-api/src/utils/mod.rs
  caliber-dsl/src/bin/trace_parser.rs
  caliber-dsl/src/compiler/mod.rs
  caliber-dsl/src/config/parser.rs
  caliber-dsl/src/pack/ir.rs
  caliber-dsl/src/pack/markdown.rs
Due: rust-fmt, rust-clippy

docs(pack-editor): complete design system analysis with page layouts and animations
  pack-editor/DESIGN_SYSTEM_EXTRACTION.md
Due: none

docs(pack-editor): add missing UI patterns (mobile menu, dropdowns, footer, CTA, SVG)
  pack-editor/DESIGN_SYSTEM_EXTRACTION.md
Due: none

refactor: convert unwrap() calls to proper error handling (partial)
  caliber-core/src/enums.rs
  caliber-dsl/src/compiler/mod.rs
  caliber-dsl/src/config/markdown_printer.rs
  caliber-dsl/src/config/parser.rs
  caliber-dsl/src/pack/markdown.rs
  caliber-dsl/src/pack/mcp.rs
  caliber-dsl/src/parser/ast.rs
  caliber-pcp/src/lib.rs
  caliber-storage/src/event_dag.rs
  caliber-storage/src/lib.rs
Due: rust-fmt, rust-clippy

docs(pack-editor): add comprehensive frontend architecture plan
  pack-editor/ARCHITECTURE.md
Due: none

fix: property test generators and markdown printer
  caliber-dsl/src/config/markdown_printer.rs
  caliber-dsl/tests/markdown_property_tests.rs
Due: rust-fmt, rust-clippy

docs: update changelog and devlog with technical debt cleanup
  CHANGELOG.md
  DEVLOG.md
  caliber-api/src/db.rs
  caliber-api/src/routes/billing.rs
  caliber-api/src/routes/dsl.rs
  caliber-api/src/routes/mod.rs
  caliber-api/src/state.rs
Due: rust-fmt, rust-clippy

feat(ui): add missing animations and components from Vue audit
  packages/ui/src/atoms/Button.svelte
  packages/ui/src/atoms/HamburgerButton.svelte
  packages/ui/src/atoms/StyledHeading.svelte
  packages/ui/src/atoms/index.ts
  packages/ui/src/molecules/Dropdown.svelte
  packages/ui/src/organisms/GridAnimation.svelte
  packages/ui/src/organisms/IcosahedronAnimation.svelte
  packages/ui/src/organisms/NeuralAnimation.svelte
  packages/ui/src/organisms/ParallaxHero.svelte
  packages/ui/src/organisms/index.ts
  packages/ui/src/styles/animations.css
Due: biome-check, biome-format

docs(ui): add Vue to Svelte audit report from 6 Sonnet agents
  docs/vue-svelte-audit-report.md
Due: none

feat(ui): add remaining missing components from Vue audit
  packages/ui/src/atoms/CircularRings.svelte
  packages/ui/src/atoms/index.ts
  packages/ui/src/molecules/Accordion.svelte
  packages/ui/src/molecules/PromptButtons.svelte
  packages/ui/src/molecules/index.ts
  packages/ui/src/organisms/HexScroll.svelte
  packages/ui/src/organisms/index.ts
Due: biome-check, biome-format

docs(ui): add structural patterns reference from Vue analysis
  packages/ui/STRUCTURE_PATTERNS.md
Due: none

docs(pack-editor): add complete A→Z build plan
  pack-editor/BUILD_PLAN.md
Due: none

fix: technical debt cleanup and type safety improvements
  .kiro/specs/caliber-pg-hot-path/requirements.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  DEVLOG.md
  README.md
  caliber-api/src/auth.rs
  caliber-api/src/components/message.rs
  caliber-api/src/db.rs
  caliber-api/src/routes/context.rs
  caliber-api/src/routes/message.rs
  caliber-api/src/routes/mod.rs
  caliber-api/src/types/message.rs
  caliber-api/src/utils/markdown.rs
  caliber-api/tests/broadcast_property_tests.rs
  caliber-core/src/context.rs
  docker/Dockerfile.api
  docker/Dockerfile.pg
  docs/SPEC_CRATE_ABSORPTION_FINAL.md
  docs/graphs/deps.json
  docs/graphs/type-signatures.json
  fuzz/Cargo.toml
Due: rust-fmt, rust-clippy, biome-check, biome-format

feat(app): add production SvelteKit foundation with API client and test setup
  app/postcss.config.js
  app/src/lib/api/client.ts
  app/src/lib/api/types.ts
  app/src/lib/utils/formats.ts
  app/src/lib/utils/katex.ts
  app/src/routes/+page.svelte
  app/src/routes/+page.ts
  app/tailwind.config.js
  app/tests/setup.ts
  app/vitest.config.ts
Due: biome-check, biome-format

docs: cleanup stale and dated documentation
  docs/DEPENDENCY_GRAPH.md
  docs/DSL_PARSER.md
  docs/PRICING.md
  docs/QUICK_REFERENCE.md
  docs/SQL_GENERATION.md
  docs/archive/LLM_SERVICES.md
  docs/archive/MULTI_AGENT_COORDINATION.md
  docs/archive/README.md
  docs/graphs/deps.json
Due: biome-check, biome-format

docs: update CALIBER_PCP_SPEC.md for v0.4.7 architecture
  docs/CALIBER_PCP_SPEC.md
Due: none

fix: add YAML-safe string quoting in markdown_printer
  caliber-dsl/src/config/markdown_printer.rs
  caliber-dsl/tests/markdown_property_tests.proptest-regressions
Due: rust-fmt, rust-clippy

fix(types): resolve all type errors with proper type safety
  bun.lock
  package.json
  packages/ui/src/atoms/Button.svelte
  packages/ui/src/content/index.ts
  packages/ui/src/content/types.ts
  packages/ui/src/organisms/ChatMessage.svelte
  packages/ui/src/organisms/ChatPanel.svelte
  packages/ui/src/organisms/CommandPalette.svelte
  packages/ui/src/organisms/EditorPanel.svelte
  packages/ui/src/organisms/FileTree.svelte
  packages/ui/src/organisms/FormatViewer.svelte
  packages/ui/src/organisms/MemoryGraph.svelte
  packages/ui/src/organisms/ToolCallCard.svelte
  packages/ui/src/organisms/TreeView.svelte
  packages/ui/src/organisms/index.ts
  packages/ui/src/types/index.ts
  packages/ui/src/types/props.ts
  packages/ui/tsconfig.json
Due: biome-check, biome-format

Update pack-editor/src/schemas/manifest.zod.ts
  pack-editor/src/schemas/manifest.zod.ts
Due: biome-check, biome-format

Update pack-editor/src/types/manifest.ts
  pack-editor/src/types/manifest.ts
Due: biome-check, biome-format

Update pack-editor/src/composables/usePackStore.ts
  pack-editor/src/composables/usePackStore.ts
Due: biome-check, biome-format

fix: add missing UI tokens and formatting fixes
  packages/ui/package.json
  packages/ui/src/styles/tokens.css
Due: biome-check, biome-format

fix: add UI tokens and enable atoms/molecules exports
  packages/ui/src/index.ts
Due: biome-check, biome-format

Path conditions:
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  biome-format: any of: *.{ts,tsx,js,jsx,json}
