Repository Heyoub/caliber: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, biome-check, biome-format

lefthook.yml:

# Lefthook pre-commit hooks for CALIBER
# Install: cargo install lefthook && lefthook install
# Or: npm install -g @evilmartians/lefthook && lefthook install

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --workspace --all-targets -- -D warnings

    biome-check:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bunx biome check --changed

    biome-format:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bunx biome format --changed --write

pre-push:
  parallel: true
  commands:
    rust-test:
      run: cargo nextest run --workspace --exclude caliber-pg --no-fail-fast

    ts-test:
      run: bun test ./tests/ --no-coverage

commit-msg:
  commands:
    conventional:
      # Enforce conventional commits format
      run: |
        if ! grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+" "$1"; then
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>(<scope>): <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          exit 1
        fi

post-commit:
  parallel: false
  commands:
    ci-cloud:
      run: |
        if [ "${CALIBER_CI_ON_COMMIT:-1}" = "0" ]; then
          echo "Skipping CI-on-commit (CALIBER_CI_ON_COMMIT=0)."
          exit 0
        fi
        ./scripts/ci/run-ci-and-fetch-logs.sh CI

chore(ci): fix log fetcher for gh view
  scripts/ci/fetch-gh-logs.sh
Due: none

fix(ci): stabilize pg18 and pgrx deps
  .github/workflows/ci.yml
Due: none

fix(api): align swagger ui and otel v0.31
  caliber-api/src/routes/mod.rs
  caliber-api/src/telemetry/tracer.rs
Due: rust-fmt, rust-clippy

chore(docs): document pgvector submodule removal
  CHANGELOG.md
  DEVLOG.md
Due: none

chore(repo): remove pgvector submodule entry
  .gitignore
Due: none

chore(docs): clarify semver strictness at 0.6.0
  CHANGELOG.md
Due: none

fix(ci): ensure pg18 cluster exists [skip ci]
  .github/workflows/ci.yml
  caliber-api/src/routes/mod.rs
Due: rust-fmt, rust-clippy

style(api): rustfmt swagger-ui blocks [skip ci]
  caliber-api/src/routes/mod.rs
Due: rust-fmt, rust-clippy

fix(ci): swagger typing, deny config, pg18 headers
  .github/workflows/ci.yml
  CHANGELOG.md
  DEVLOG.md
  caliber-api/src/routes/mod.rs
  deny.toml
Due: rust-fmt, rust-clippy

fix(swagger): align with axum 0.7 + allow licenses
  CHANGELOG.md
  Cargo.toml
  DEVLOG.md
  caliber-api/src/routes/mod.rs
  deny.toml
Due: rust-fmt, rust-clippy

chore(deps): lock utoipa-swagger-ui 8.1.0
  Cargo.lock
Due: none

ci(security): add scans, sbom, fly deploy
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/extension-sql-check.yml
  .github/workflows/fly-deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/openapi-docs.yml
  .github/workflows/osv-scanner.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/scorecard.yml
  .github/workflows/semgrep.yml
  scripts/ci/pgvector_sanity.sql
Due: none

docs(ops): refresh checklists and agent guide
  .env.example
  AGENTS.md
  CHANGELOG.md
  DEVLOG.md
  README.md
  docs/CALIBER_API_REFERENCE.md
  docs/OPERATIONS_CHECKLIST.md
  fly.api.toml
Due: none

feat(security): workos webhook verify + clippy fixes
  Cargo.lock
  caliber-api/src/routes/mod.rs
  caliber-api/src/routes/workos_webhooks.rs
  caliber-core/src/context.rs
  caliber-pcp/src/lib.rs
  caliber-tui/Cargo.toml
  caliber-tui/src/main.rs
Due: rust-fmt, rust-clippy

style: rustfmt workos routes
  caliber-api/src/routes/mod.rs
  caliber-api/src/routes/workos_webhooks.rs
Due: rust-fmt, rust-clippy

ci: package pg extension + add ci-logs
  .github/workflows/ci.yml
  Makefile
Due: none

fix(deps): patch security CVEs + sdk log
  CHANGELOG.md
  Cargo.toml
  DEVLOG.md
  caliber-api/Cargo.toml
  caliber-core/Cargo.toml
  caliber-dsl/Cargo.toml
  caliber-sdk/src/websocket.ts
  landing/package-lock.json
  landing/package.json
Due: biome-check, biome-format

chore(lockfiles): update bun and cargo locks
  Cargo.lock
Due: none

fix: secrecy and jsonschema API updates
  caliber-api/src/auth.rs
  caliber-api/src/routes/mcp/handlers.rs
Due: rust-fmt, rust-clippy

ci: pin scorecard action
  .github/workflows/scorecard.yml
Due: none

fix: secrecy API + remove deprecated rand/criterion
  caliber-api/src/auth.rs
  caliber-api/src/routes/user.rs
  caliber-core/benches/context_hotpath.rs
  caliber-dsl/benches/dsl_hotpath.rs
Due: rust-fmt, rust-clippy

chore(deps): update package and Cargo.lock for security overrides and dependency versions
  .github/workflows/osv-scanner.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  DEVLOG.md
  bun.lock
  landing/package.json
  package.json
Due: biome-check, biome-format

ci: batch dependabot checks
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-ci.yml
  CHANGELOG.md
  DEVLOG.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: correct Claude workflow permissions and path filters
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Update .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

refactor: clean up code formatting and improve readability
  caliber-api/src/main.rs
  caliber-dsl/src/parser/ast.rs
  caliber-storage/src/cache/watermark.rs
  caliber-test-utils/src/lib.rs
  caliber-tui/src/theme.rs
Due: rust-fmt, rust-clippy

fix: resolve CI lint and dependency check failures
  deny.toml
  landing/playwright.config.ts
Due: biome-check, biome-format

feat(v0.4.5): production hardening - hash chains, smoke tests, multi-instance cache, DSL recovery
  .github/actions/setup-postgres/action.yml
  .gitignore
  AGENTS.md
  CHANGELOG.md
  DEVLOG.md
  README.md
  caliber-api/src/main.rs
  caliber-api/src/routes/mod.rs
  caliber-api/tests/smoke_tests.rs
  caliber-core/src/event.rs
  caliber-dsl/src/parser/ast.rs
  caliber-dsl/src/parser/parser.rs
  caliber-pg/META.json
  caliber-pg/src/lib.rs
  caliber-storage/src/cache/mod.rs
  caliber-storage/src/cache/watermark.rs
  caliber-storage/src/event_dag.rs
  caliber-storage/src/hybrid_dag.rs
  caliber-test-utils/src/lib.rs
  caliber-tui/src/config.rs
  caliber-tui/src/keys.rs
  caliber-tui/src/main.rs
  caliber-tui/src/state.rs
  caliber-tui/src/theme.rs
  caliber-tui/src/views/mod.rs
  caliber-tui/tests/tui_property_tests.rs
  docker/Dockerfile.api
  docker/Dockerfile.pg
Due: rust-fmt, rust-clippy, biome-check, biome-format

fix: resolve CI failures for production deployment
  .github/workflows/ci.yml
  caliber-api/src/auth.rs
  deny.toml
Due: rust-fmt, rust-clippy

fix: resolve clippy error and optimize CI build times
  .github/workflows/ci.yml
  .serena/project.yml
  caliber-api/tests/smoke_tests.rs
  caliber-core/src/event.rs
Due: rust-fmt, rust-clippy

docs: add WorkOS staging + Test SSO development setup guide
  docs/WORKOS_DEV_SETUP.md
Due: none

fix: handle set_parent Result and correct deny.toml yanked value
  caliber-api/src/telemetry/middleware.rs
  deny.toml
Due: rust-fmt, rust-clippy

feat: fix JWT test failures with clock abstraction + add event DAG tests
  caliber-api/src/auth.rs
  caliber-api/src/middleware/auth.rs
  caliber-api/src/routes/agent.rs
Due: rust-fmt, rust-clippy

Update deny.toml
  deny.toml
Due: none

chore(deps): reduce Dependabot frequency to monthly
  .github/dependabot.yml
Due: none

perf: optimize CI caching and artifact reuse
  .github/workflows/ci.yml
Due: none
